.grid{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 80%;
  align-self: center;
  grid-column-gap: 1%;
  grid-row-gap: 3%;

}
.cell{
  width: 100%;
}

.web3modal-modal-card {
  width: 20% !important;
  min-width: unset !important;
  max-width: unset !important;
  position: absolute !important;
}

.web3modal-provider-container {
  flex-direction: row !important; 
}

.web3modal-provider-description {
  display: none; 
}
.web3modal-provider-name{
  margin-top: 0 !important;
}
.web3modal-modal-lightbox{
  z-index: 150 !important; 
}